{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 100,
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}
