@import '@fontsource-variable/reem-kufi';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: theme('colors.light-pink');
  background-color: theme('colors.dark-grey');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: theme('fontFamily.primary');
}
